body{
    background-color: rgb(4, 128, 41);;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
} 

table, th, td {
    border: 1px solid black;
    text-align: center;
    color: white;
  }
  table {
    border-collapse: collapse;
  }
  tr:nth-child(even) {
      background-color: green;
  }
  tr:nth-child(odd){
      background-color: blue;
  }
  tr{
      color:black;
  }
  h1{
      text-align: center;
  }